body{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.black{
    background-color: #394150;
    padding: 2px 0px 100px 0px;
}
.line{
    display: flex;
  justify-content: space-between;
  justify-items: center;
  padding: 10px 100px;
  color: white;

}
.header-link{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.black-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
    padding: 0px 100px;
}
.classification{
    display: flex;
     justify-content:space-between;
    align-items: center;
   
}
.heading{
    color: white;
    font-size: 30px;
    margin: 25px 0px 0px 0px;
}
.paragraph{
    color: white;
    margin: 0px 0px 0px 0px;
    padding: 8px 0px 10px 0px;
}
.sign-up{
   display: flex;
   justify-content: center;
   background-color: rgb(80, 150, 255);
   color: white;
   border-radius: 8px;
   padding: 6px 30px; 
   width: fit-content;
   align-items:center;
   cursor:pointer;

}
.image-placeholder{
    text-align: center;
    background-color: rgba(139, 146, 151, 0.986);
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 430px;
    height: 221px;
    margin: 50px 100px 20px 0px;
    flex-shrink: 0;
}
.random{
    font-weight: bold;
    text-align: center;
    font-size: 28px;
    padding: 10px 0px 10px 0px;
}
.white{
    margin: 10px 100px 0px 100px;
   padding: ;
}
.options{
    display: flex;
    text-align: center;
    padding: 0px 10px 0px 10px;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}
.box-1{
    display: flex;
    border: 3px solid blue;
    border-radius: 14px;
    width: 130px;
    height: 130px;
}
.box-2{
 display: flex;
    border: 3px solid blue;
    border-radius: 14px;
    width: 130px;
    height: 130px;
}
.box-3{
 display: flex;
    border: 3px solid blue;
    border-radius: 14px;
    width: 130px;
    height: 130px;
}
.box-4{
 display: flex;
    border: 3px solid blue;
    border-radius: 14px;
    width: 130px;
    height: 130px;
}
