body {
    margin: 0;
    padding: 0;
}
.main{
   

}
.black {
    color: white;
    background-color: #1F2937;
   padding: 0px 100px;
}
.line  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-link {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 14px;
}
